@import "tailwindcss";

@theme {
  --font-header: "Playfair Display", serif;
  --font-body: "Lato", sans-serif;

  --color-accent: #7e22ce;
  /* purple-700 */
  --color-accent-hover: #6b21a8;
  /* purple-800 */

  --color-primary: #0f172a;
  /* slate-900 */

  --radius-button: 0.75rem;
  /* rounded-xl */
}

@layer utilities {
  .font-header {
    font-family: var(--font-header);
  }

  .font-body {
    font-family: var(--font-body);
  }
}

/* Painter Base Styles (Boutique) */
body {
  background-color: #faf5ff;
  /* purple-50 */
  color: #4c1d95;
  /* violet-900 */
}